


.content
    background-color $content_bgColor
    display flex
    flex-direction column

    height $contentHeight
    max-height: 700pxg
    .graphTitle
        margin 1rem auto 0 auto
        position absolute
        font-size: 140%
        font-weight: bold
        color $darkColor
    .graphLabel
        position absolute
        top 10rem
        color $darkColor
    .chart
        height 100%
        background-color $chart_bgColor
        margin 20px
    .chart-footer
        display flex
        flex-direction row
        justify-content space-between

        
.content-footer
    background-color $footer_bgColor
    color $footer_fColor
    height $footerHeight
    display flex
    flex-direction row
    justify-content space-between
    
    font-weight bold
    div
        margin-top 0.3em
        margin-bottom 0.3em
    