



        
    .content
        background-color $content_bgColor
        display flex
        flex-direction column
        position relative

        overflow: auto
        .question
            position absolute
            right 1rem
            top 0.4rem
            color $darkColor
            font-size 1.5rem
            opacity 0.5
            //z-index 12
            &:hover
                color $midColor
                opacity 1
                cursor pointer
        .graphTitle
            margin-right auto
            margin-left auto
            font-size: 140%
            font-weight: bold
            color $darkColor
            opacity 0.4
            //z-index: 4
            //-webkit-transform: translate3d(0,0,4px);
        .graphLabel            
            color $darkColor
            opacity 0.5
            font-size 85%
            //-webkit-transform: translate3d(0,0,4px);
        .chart
            background-color $chart_bgColor
        .chart-footer
            display flex
            flex-direction row
            justify-content space-between

            
    .content-footer
        background-color $footer_bgColor
        color $footer_fColor
        //height $footerHeight
        display flex
        flex-direction row
        justify-content space-between
        
        font-weight bold
        div
            margin-top 0.3em
            margin-bottom 0.3em
    