
$decklists-height = $cont-height - 2.5rem

.decklists
    display: none
    display grid 
    grid-column-gap 1.5rem
    margin-top 2.5rem
    height $decklists-height
    position relative
    .deckBox
        height $decklists-height
        .deckTitle
            display inline-block
            width 100%
            height 2.5rem
            p
                padding 0.3rem
                display inline-block
            .titleHover
                opacity 0
                height 2.5rem
                width 12rem
                position absolute
                top 0
                .titleHover-content
                    display inline-block
                    padding 0.5rem 1rem 0.5rem 1rem
                    margin 0.15rem
                    font-size 120%
                    font-weight bold
                    letter-spacing 0.9px
                    color white
                    border-radius 3%
                    &:hover
                        cursor pointer
                        background-color $accentColor
                        color $darkColor
                    &:active
                        background-color yellow
                        
                    
                
            &:hover
                background-color:  $darkColor !important
                p
                    opacity 0.2
                .titleHover
                    opacity 1
        .deckinfo
            display none
            .dustInfo
                padding 0.4rem
                font-weight bold
                display inline
            .dustImg
                display inline-block
                height 1.1rem
            .manacurve
                margin 0.4rem
                color $darkColor
            .manaChart
                width 12rem
                height 8rem
            .cardtypes
                padding 0.4rem
            .author
                font-weight bold
                padding 0.4rem 0 0 0.4rem
            .timestamp
                opacity 0.5
                padding 0.4rem
            .gameplay
                font-weight bold
                color $midColor
                padding 1rem
        .decklist
            max-height 0.88*$decklists-height
            margin-top: 1rem
            margin-bottom: 1rem
            overflow-y auto
            overflow-x hidden
            background-color: white
            .card
                padding 0.05rem
                position relative
                .costContainer
                    position relative
                .hex
                    position fixed
                    font-size 140%
                    position absolute
                    &.Basic
                        color #b3b3b3
                    &.Common
                        color #736c6c
                    &.Rare
                        color $midColor
                    &.Epic
                        color #cc87cc
                    &.Legendary
                        color #dc9a22
                .cost
                    color $lightColor
                    position absolute
                    padding 0.30rem 0 0 0.35rem
                .name
                    padding 0.25rem 0.1rem 0 1.7rem
                    display inline-block
                .quantity
                    right 0
                    position absolute
                    padding 0.25rem // 0.25rem 0 0.25rem
                    display inline-block
                    z-index 4
                    background-color white
                    font-size: 85%
                    color $darkColor
                    opacity: 0.9
                .hoverDiv
                    position absolute
                    top 0
                    height 100%
                    width 100%
                    z-index 20
                &:hover
                    background-color:  $midColor  
                    color: $lightColor
                &.highlighted
                    background-color:  $midColor  
                    color: $lightColor
                &.half-highlighted
                    background-color:  $midColor3  
                    color: $lightColor
            
        // .copyDL
        //     color black
        //     background-color #92fc64
        //     font-size: 1rem
        //     font-weight: bold
        //     padding 0.3rem
        //     margin 0 auto
        //     border 0.1rem solid #92fc64
        //     border-radius 3%
        //     &:hover
        //         background-color: #b7ff54
        //         border-color: #b7ff54
        //         cursor:  pointer


