



.decklists
    display: none
    margin-top 2.5rem
    .deckBox
        .deckTitle
            display inline-block
            width 100%
            p
                padding 0.3rem
                display inline-block
                
            &:hover
                background-color:  $accentColor
                color $darkColor
        .decklist
            height 50%
            margin-top: 1rem
            margin-bottom: 1rem
            overflow-y auto
            overflow-x hidden
            background-color: white
            .card
                padding: 0.15rem
                //margin-top 0.2rem
        .copyDL
            color black
            background-color #92fc64
            font-size: 1rem
            font-weight: bold
            padding 0.3rem
            margin 0 auto
            border 0.1rem solid #92fc64
            border-radius 3%
            &:hover
                background-color: #b7ff54
                border-color: #b7ff54
                cursor:  pointer