

.option-folder
    .folder-toggle
        background $header_folder_bgColor
        color $header_folder_fColor
        font-weight bold
        border 0.1rem solid $header_folder_bgColor
        border-radius 5%
        padding 0.4rem 0.4rem 0.2rem 0.4rem
        margin-left 0.5em
        transition background 0.3s ease, color 0.3s ease
        &:hover
            cursor pointer
            background $header_folder_hi_bgColor
            color $header_folder_hi_fColor
    .dropdown
        position absolute
        display flex
        flex-direction column
        background #222
        overflow hidden
        button
            transition margin 0.1s ease
            background-color #222
            border none
            margin 0
            &:hover
                background #fff
                color #222
                border 1px solid #222
        &.hidden
            button
                margin-top -2000px
    
    