



.content-header
                width 100%
                height 1.78rem
                z-index 30
                padding 0.6rem 0 0.6rem 0
                font-size 1em
                background-color $header_bgColor
                color $header_fColor
                display flex
                flex-direction row
                justify-content space-between
                font-family Tahoma
                font-weight bold
                .optionBar
                    display flex
                    flex-direction row
                    margin-right 1em
                    p
                        font-size 0.8em
                        color $header_fColor
                        margin-left 1em
                        margin-top 1em
                .optionBtn
                    background $header_btn_bgColor
                    color $header_btn_fColor
                    font-size 1em
                    //font-weight bold
                    border 0.1rem solid $header_btn_borderColor
                    font-size 0.8em
                    border-radius 5%
                    padding 0.4rem
                    transition background 0.3s ease, color 0.3s ease
                    margin-left 1em
                    &:hover
                        background $header_btn_hi_bgColor
                        color $header_btn_hi_fColor
                        border 0.1rem solid $header_btn_hi_borderColor
                .optionBtn.highlighted
                    background $header_btn_hi_bgColor
                    color $header_btn_hi_fColor
                    border 0.1rem solid $header_btn_hi_borderColor
                