



.content-header
    //width 100%
    //height $headerHeight
    //z-index 30
    font-size 1em
    background-color $header_bgColor
    background linear-gradient(#464d57,#3a4048)
    color $header_fColor
    display flex
    flex-direction row
    justify-content space-between
    font-family Tahoma
    font-weight bold
    .optionBar
        display flex
        flex-direction row
        margin-right 1em
        p
            font-size 0.8rem
            color $header_fColor
            margin-left 1rem
            margin-top 0.7rem
    .optionBtn
        background $header_btn_bgColor
        color $header_btn_fColor
        font-size 1em
        border 0.1rem solid $header_btn_borderColor
        font-size 0.8em
        border-radius 5%
        padding 0.4rem 0.4rem 0.2rem 0.4rem
        transition background 0.3s ease, color 0.3s ease
        margin-left 1em
        &:hover
            background $header_btn_hi_bgColor
            color $header_btn_hi_fColor
            border 0.1rem solid $header_btn_hi_borderColor
        &:active
            background-color yellow !important
            color $header_btn_hi_fColor
            border 0.1rem solid yellow !important
    .optionBtn.highlighted
        background $header_btn_hi_bgColor
        color $header_btn_hi_fColor
        border 0.1rem solid $header_btn_hi_borderColor
        &:active
            background-color yellow !important
            color $header_btn_hi_fColor
            border 0.1rem solid yellow !important
    