

#loader
    border-radius 50%
    width 5rem
    height 5rem
    border 0.5rem solid white
    border-top-color transparent
    animation spin 0.5s infinite linear
    display none
    position absolute
    left 50%
    top 10rem
    @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
          }
