


#vsLogoDiv
    position absolute
    margin-left 46vw
    height: 40px
    z-index 1
    .logo
        width 40px
        height 40px
    .text
        position absolute
        top 12px
        left 40px
