


#mobileFolder
    display none // default
    z-index 100
    -webkit-transform: translate3d(0,0,100px);
    #mobileBtn
        height 50px
        width 50px
        font-size 200%
    .dropdown
        z-index 100
        -webkit-transform: translate3d(0,0,100px);
        width 30vw
        .mobileBtn
            z-index 100
            font-size 100%
            color $lightColor
            padding 1rem
            