


.navbar
    display flex
    align-content center
    justify-content start
    position relative
    z-index 2
    .tabs
        display flex
        align-content center
        align-items center
        justify-content center
        color $nav_fColor
        .tab
            height 100%
            color $nav_fColor
            padding 0.4rem
            font-size 1.5rem
            font-weight bold
            letter-spacing 2px
            overflow: hidden
            //transition background 0.3s ease, color 0.3s ease
            &#ladder
                background-color: $midColor
                background: linear-gradient(#1e6b97,#1b6086)
                //color $darkColor
            &#power
                background-color: $midColor2
                background: linear-gradient(#398ab9,#3279a2)
            &#table
                background-color: $midColor3
                background linear-gradient(#599fb5,#5396ad)
            &#decks
                background-color: $midColor4
                background linear-gradient(#7fb0b4,#719da0)
            &#info
                background-color transparent
                color $darkColor
            &:hover
                cursor pointer
            &.highlighted
                background $nav_hi_bgColor !important
                color $nav_hi_fColor !important