doctype html
html(lang='en')
  head
    link(rel="icon" href="vLogo.png")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(src='https://www.gstatic.com/firebasejs/4.3.0/firebase.js')
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
    script(src='https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='reset.css')
    link(rel='stylesheet', href='styles_01.css')
    title VS
  body
    .main-wrapper
      #overlay(onclick='overlay()')
      nav.navbar
        .tabs
          button#ladder.tab Overview
          button#power.tab Tier List
          button#table.tab Matchups
          button#decks.tab Decks
          button#info.tab.fa.fa-info
      button#overlayBtn.optionBtn(onclick='overlay()').fa.fa-info
        
        
      .content-wrapper
        #loader
        #ladderWindow.tabWindow
          .content-header
            .ftrOptions.optionBar
              .option-folder
                button#formatBtn.folder-toggle Standard
                .dropdown.hidden
                  button#Standard.optionBtn.folderBtn Standard
                  button#Wild.optionBtn.folderBtn Wild
              .option-folder
                button#timeBtn.folder-toggle Last Day
                .dropdown.hidden
                  button#lastDay.optionBtn.folderBtn Last Day
                  button#lastWeek.optionBtn.folderBtn Last Week
                  button#lastMonth.optionBtn.folderBtn Last Month
              .option-folder
                button#rankBtn.folder-toggle All Ranks
                .dropdown#rankDropdown.hidden
              p.nrGames
            .classDeckOptions.optionBar
              button#classes.optionBtn Classes
              button#decks.optionBtn Decks
            .graphOptions.optionBar
              button#bar.optionBtn.fa.fa-bar-chart.tooltip
                span.tooltipText Show Bar Chart
              button#line.optionBtn.fa.fa-line-chart.tooltip
                  span.tooltipText Show Line Chart
              button#pie.optionBtn.fa.fa-pie-chart.tooltip
                  span.tooltipText Show Pie Chart
              button#number.optionBtn.fa.fa-percent.tooltip
                  span.tooltipText Show Numbers
              button#timeline.optionBtn.fa.fa-clock-o.tooltip
                  span.tooltipText Show Timeline
          .content
            #chart1.chart
          .content-footer
        #powerWindow.tabWindow
          .content-header
            .formatOptions.optionBar
              button#Standard.optionBtn Standard
              button#Wild.optionBtn Wild
            .dispOptions.optionBar
              button#tiers.optionBtn Tier Lists
              button#top.optionBtn Suggestions
          #powerGrid.chart
          .content-footer
            
        #tableWindow.tabWindow
          .content-header
            .ftrOptions.optionBar
              .option-folder
                button#formatBtn.folder-toggle Standard
                .dropdown.hidden
                  button#Standard.optionBtn.folderBtn Standard
                  button#Wild.optionBtn.folderBtn Wild
              .option-folder
                button#timeBtn.folder-toggle Last Month
                .dropdown.hidden
                  button#lastDay.optionBtn.folderBtn Last Day
                  button#lastWeek.optionBtn.folderBtn Last Week
                  button#lastMonth.optionBtn.folderBtn Last Month
              .option-folder
                button#ranksBtn.folder-toggle All Ranks
                .dropdown.hidden
                  button#ranks_all.optionBtn.folderBtn All Ranks
                  button#ranks_L_5.optionBtn.folderBtn Ranks L-5
                  button#ranks_6_15.optionBtn.folderBtn Ranks 6-15
              p.nrGames
            .graphOptions.optionBar
              p Sort by 
              .option-folder
                button#sortBtn.folder-toggle Sort
                .dropdown.hidden
                  button#class.optionBtn.folderBtn By Class
                  button#frequency.optionBtn.folderBtn By Frequency
                  button#winrate.optionBtn.folderBtn By Winrate
                  button#matchup.optionBtn.folderBtn By Matchup
          .content
            #chart2.chart
          .content-footer
        #decksWindow.tabWindow
          .content-header
            .ftrOptions.optionBar
              .option-folder
                button#formatBtn.folder-toggle Standard
                .dropdown.hidden
                  button#Standard.optionBtn.folderBtn Standard
                  button#Wild.optionBtn.folderBtn Wild
              .option-folder
                button#classBtn.folder-toggle Druid
                .dropdown.hidden
                  button#Druid.optionBtn.folderBtn Druid 
                  button#Hunter.optionBtn.folderBtn Hunter 
                  button#Mage.optionBtn.folderBtn Mage
                  button#Paladin.optionBtn.folderBtn Paladin
                  button#Priest.optionBtn.folderBtn Priest
                  button#Rogue.optionBtn.folderBtn Rogue
                  button#Shaman.optionBtn.folderBtn Shaman
                  button#Warlock.optionBtn.folderBtn Warlock
                  button#Warrior.optionBtn.folderBtn Warrior
            .displayOptions.optionBar
              button#description.optionBtn Description
              button#decklists.optionBtn Deck Lists
              //button#classRadar.optionBtn Class Radar
          .content
            .archetypes
              p.title Archetypes
              .archetypeList
            .descriptionBox
              .description
              .video
            .decklists 
            
          
        #infoWindow.tabWindow
          .content-header
          p The VS Live Web App is currently in Alpha.<br><br>The app is currently not updated with live data. Many of the feature implementations are placeholder.<br><br>Please leave a feedback (suggestions, bugs, comments etc.) in the reddit thread linked below:
          
          a(href="https://www.reddit.com/r/ViciousSyndicate/comments/6yqj62/vs_live_web_app_feedback_thread/" target="_blank")
            img(src='redditLogo.png')
    script(src='script.js')
    script(src='ui.js')
    script(src='data.js')
    script(src='ladderClass.js')
    script(src='ladderWindow.js')
    script(src='tableClass.js')
    script(src='tableWindow.js')
    script(src='powerWindow.js')
    script(src='decksWindow.js')


