doctype html
html(lang='en')
  head
    link(rel="icon" href="Images/skull.png")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(src='https://www.gstatic.com/firebasejs/4.3.0/firebase.js')
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
    script(src='https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='reset.css')
    link(rel='stylesheet', href='styles_01.css')
    title VS
  body
    .main-wrapper
      #overlay(onclick='overlay()')
      nav.navbar
        .tabs
          button#ladder.tab Overview
          button#power.tab Tier List
          button#table.tab Matchups
          button#decks.tab Decks
          button#info.tab Info
      //button#overlayBtn.optionBtn(onclick='overlay()').fa.fa-question-circle 
      #vsLogoDiv
        img(src="Images/skull.png").logo
        p.text Live
        
        
      .content-wrapper
        #loader
        #ladderWindow.tabWindow
          .content-header
            .ftrOptions.optionBar
              #formatFolder.option-folder
                button#formatBtn.folder-toggle Standard
                .dropdown.hidden
              #timeFolder.option-folder
                button#timeBtn.folder-toggle Last Day
                .dropdown.hidden
                  //button#lastDay.optionBtn.folderBtn Last Day
                  //button#lastWeek.optionBtn.folderBtn Last Week
                  //button#lastMonth.optionBtn.folderBtn Last Month
              #rankFolder.option-folder
                button#rankBtn.folder-toggle All Ranks
                .dropdown#rankDropdown.hidden
              p.nrGames
            .classDeckOptions.optionBar
              button#classes.optionBtn Classes
              button#decks.optionBtn Decks
            .graphOptions.optionBar
              button#bar.optionBtn.fa.fa-bar-chart.tooltip
                span.tooltipText Show Bar Chart
              button#line.optionBtn.fa.fa-line-chart.tooltip
                  span.tooltipText Show Line Chart
              button#pie.optionBtn.fa.fa-pie-chart.tooltip
                  span.tooltipText Show Pie Chart
              button#number.optionBtn.fa.fa-percent.tooltip
                  span.tooltipText Show Numbers
              button#timeline.optionBtn.fa.fa-clock-o.tooltip
                  span.tooltipText Show Timeline
          .content
            //p.graphTitle Graph Title
            //p.graphLabel y-axis
            #chart1.chart
            .chart-footer
          .content-footer
          
        #powerWindow.tabWindow
          .content-header
            .formatOptions.optionBar
              button#Standard.optionBtn Standard
              button#Wild.optionBtn Wild
            .dispOptions.optionBar
              button#tiers.optionBtn Tier Lists
              button#top.optionBtn Suggestions
          .content
            #powerGrid.chart
            .chart-footer
          .content-footer
          
            
        #tableWindow.tabWindow
          .content-header
            .ftrOptions.optionBar
              #formatFolder.option-folder
                button#formatBtn.folder-toggle Standard
                .dropdown.hidden
                  //button#Standard.optionBtn.folderBtn Standard
                  //button#Wild.optionBtn.folderBtn Wild
              #timeFolder.option-folder
                button#timeBtn.folder-toggle Last Month
                .dropdown.hidden
                  //button#lastWeek.optionBtn.folderBtn Last Week
                  //button#lastMonth.optionBtn.folderBtn Last Month
              #rankFolder.option-folder
                button#ranksBtn.folder-toggle All Ranks
                .dropdown.hidden
                  //button#ranks_all.optionBtn.folderBtn All Ranks
                  //button#ranks_L_5.optionBtn.folderBtn Ranks L-5
                  //button#ranks_6_15.optionBtn.folderBtn Ranks 6-15
              p.nrGames
            .graphOptions.optionBar
              p Sort 
              #sortFolder.option-folder
                button#sortBtn.folder-toggle Sort
                .dropdown.hidden
                  //button#class.optionBtn.folderBtn By Class
                  //button#frequency.optionBtn.folderBtn By Frequency
                  //button#winrate.optionBtn.folderBtn By Winrate
                  //button#matchup.optionBtn.folderBtn By Matchup
          .content
            p.graphTitle Versus
            #chart2.chart
            .chart-footer
              .download
                button.downloadTable Download Table
                button.copyTable Copy Table
          .content-footer
        #decksWindow.tabWindow
          .content-header
            .ftrOptions.optionBar
              .option-folder
                button#formatBtn.folder-toggle Standard
                .dropdown.hidden
                  button#Standard.optionBtn.folderBtn Standard
                  button#Wild.optionBtn.folderBtn Wild
              .option-folder
                button#classBtn.folder-toggle Druid
                .dropdown.hidden
                  button#Druid.optionBtn.folderBtn Druid 
                  button#Hunter.optionBtn.folderBtn Hunter 
                  button#Mage.optionBtn.folderBtn Mage
                  button#Paladin.optionBtn.folderBtn Paladin
                  button#Priest.optionBtn.folderBtn Priest
                  button#Rogue.optionBtn.folderBtn Rogue
                  button#Shaman.optionBtn.folderBtn Shaman
                  button#Warlock.optionBtn.folderBtn Warlock
                  button#Warrior.optionBtn.folderBtn Warrior
            .displayOptions.optionBar
              button#description.optionBtn Description
              button#decklists.optionBtn Deck Lists
              //button#classRadar.optionBtn Class Radar
          .content
            .archetypes
              p.title Archetypes
              .archetypeList
            .descriptionBox
              .description
            .decklists 
          .content-footer
            
          
        #infoWindow.tabWindow
          .content-header
          .content
            p Greetings and thank you for checking out the VS Live Beta!<br><br><br><br>The app is updated hourly with the latest data and most features are implemented (waranting some polish). Currently on the todo list:<br><br>- Finalizing archetype colors (currently randomized) <br><br>- Decks tab needs formating<br><br>- Implementing Download and Copy functions<br><br>- App tour and help button<br><br>- Graph and axis titles/ hovers<br><br><br><br><b>We need your feedback!</b> Please leave a comment in the reddit thread linked below:
          
            a(href="https://www.reddit.com/r/ViciousSyndicate/comments/6yqj62/vs_live_web_app_feedback_thread/" target="_blank")
              img(src='redditLogo.png')
            .login
              p Test login in with a VS account (vsProUser@vs.com - pw12345):
              input#emailInput(placeholder='Email')
              input#passwordInput(placeholder='Password')
              button#loginBtn Login
              button#logOutBtn.hidden Logout
              button#signUpBtn Sign Up
              p#loginErrorMsg
          .content-footer

    script(src='script.js')
    script(src='ui.js')
    script(src='ladderClass.js')
    script(src='historyClass.js')
    script(src='ladderWindow.js')
    script(src='tableClass.js')
    script(src='tableWindow.js')
    script(src='powerWindow.js')
    script(src='decksWindow.js')
    script(src='firebaseHandler.js')


