doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    script(src='https://www.gstatic.com/firebasejs/4.3.0/firebase.js')
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='reset.css')
    link(rel='stylesheet', href='styles_new.css')
    title VS
  body
    .main-wrapper
      #overlay(onclick='overlay()')
      nav.navbar
        .tabs
          button#ladder.tab Ladder
          button#power.tab Tiers
          button#table.tab Matchups
          //button#timeline.tab Timeline
          button#decks.tab Decks
          button#info.tab info
      //button#tooltips.optionBtn(onclick='overlay()') i
        
        
      .content-wrapper
        #loader
        #ladderWindow.tabWindow
          .content-header
            .classDeckOptions.optionBar
              button#classes.optionBtn Classes
              button#decks.optionBtn Decks
            .ftrOptions.optionBar
              .option-folder
                button#formatBtn.folder-toggle Standard
                .dropdown.hidden
                  button#Standard.optionBtn.folderBtn Standard
                  button#Wild.optionBtn.folderBtn Wild
              .option-folder
                button#timeBtn.folder-toggle Last Month
                .dropdown.hidden
                  button#lastDay.optionBtn.folderBtn Last Day
                  button#lastWeek.optionBtn.folderBtn Last Week
                  button#lastMonth.optionBtn.folderBtn Last Month
              p.nrGames
            .graphOptions.optionBar
              button#bar.optionBtn.fa.fa-bar-chart
              button#line.optionBtn.fa.fa-line-chart
              button#number.optionBtn.fa.fa-percent
              button#timeline.optionBtn.fa.fa-clock-o 
          .content
            #chart1
          .content-footer
        #powerWindow.tabWindow
          .content-header
            .formatOptions.optionBar
              button#Standard.optionBtn Standard
              button#Wild.optionBtn Wild
            .expandOptions.optionBar
              button#expand.optionBtn Expand
          #powerGrid
            
        #tableWindow.tabWindow
          .content-header
            .ftrOptions.optionBar
              .option-folder
                button#formatBtn.folder-toggle Standard
                .dropdown.hidden
                  button#Standard.optionBtn.folderBtn Standard
                  button#Wild.optionBtn.folderBtn Wild
              .option-folder
                button#timeBtn.folder-toggle Last Month
                .dropdown.hidden
                  button#lastDay.optionBtn.folderBtn Last Day
                  button#lastWeek.optionBtn.folderBtn Last Week
                  button#lastMonth.optionBtn.folderBtn Last Month
              .option-folder
                button#ranksBtn.folder-toggle All Ranks
                .dropdown.hidden
                  button#ranks_all.optionBtn.folderBtn All Ranks
                  button#ranks_L_5.optionBtn.folderBtn Ranks L-5
                  button#ranks_6_15.optionBtn.folderBtn Ranks 6-15
              p.nrGames
            .graphOptions.optionBar
              p Sort by 
              .option-folder
                button#sortBtn.folder-toggle Sort
                .dropdown.hidden
                  button#class.optionBtn.folderBtn By Class
                  button#frequency.optionBtn.folderBtn By Frequency
                  button#winrate.optionBtn.folderBtn By Winrate
                  button#matchup.optionBtn.folderBtn By Matchup
          .content
            #chart2
        #decksWindow.tabWindow
          .content-header
            .ftrOptions.optionBar
              .option-folder
                button#formatBtn.folder-toggle Standard
                .dropdown.hidden
                  button#Standard.optionBtn.folderBtn Standard
                  button#Wild.optionBtn.folderBtn Wild
            .classOptions.optionBar
              button#druid.optionBtn Druid 
              button#hunter.optionBtn Hunter 
              button#mage.optionBtn Mage
              button#paladin.optionBtn Paladin
              button#priest.optionBtn Priest
              button#rogue.optionBtn Rogue
              button#shaman.optionBtn Shaman
              button#warlock.optionBtn Warlock
              button#warrior.optionBtn Warrior
          .content
            .archetypes
              p.title.description Description
              p.title Archetypes
            .explanationBox
              .explanation
              .video
            .deckLists
              .deckCreators
                button.left <
                p.title Zalae Jade
                button.right >
                //p.deckIndex <br> ...
              .deckList
              button.copy Copy To Clipboard
            
          
        #infoWindow.tabWindow
          p The VS Live Web App is currently in Alpha.<br><br>The app is currently not updated with live data. Many of the feature implementations are placeholder.<br><br>Please leave a feedback (suggestions, bugs, comments etc.) in the reddit thread linked below:
          
          a(href="https://www.reddit.com/r/ViciousSyndicate/comments/6yqj62/vs_live_web_app_feedback_thread/")
            img(src='redditLogo.png')
    script(src='script.js')
    script(src='ui.js')
    script(src='data.js')
    script(src='ladderClass.js')
    script(src='tableClass.js')
    script(src='powerRanking.js')
    script(src='decks.js')


