

$lightColor = #e8fcfc
$midColor = #759cce
$darkColor = #1f3044
$accentColor = #9bf7ff
$chartColors = #e8fcfc

$nav_bgColor = $midColor
$nav_fColor = $lightColor
$nav_hi_bgColor = $darkColor
$nav_hi_fColor = $lightColor

$header_bgColor = $darkColor
$header_fColor = $lightColor

$header_btn_bgColor = $darkColor
$header_btn_fColor = $lightColor
$header_btn_borderColor = $lightColor
$header_btn_hi_bgColor = $accentColor
$header_btn_hi_fColor = $darkColor
$header_btn_hi_borderColor = $accentColor

$header_hi_bgColor = $accentColor
$header_hi_fColor = $darkColor
$header_btn_borderColor = $lightColor
$header_folder_bgColor = $lightColor
$header_folder_fColor = $darkColor
$header_folder_hi_bgColor = $darkColor
$header_folder_hi_fColor = $lightColor

$content_bgColor = $chartColors
$content_fColor = green

$chart_bgColor = $chartColors

$footer_bgColor = $darkColor
$footer_fColor = $lightColor

html
    //font-size: 1em !important;
    //color: #000 !important;
    font-family: Arial, Helvetica, sans-serif !important

button
    border 0
    //background #222
    //color #fff
    &:before
        content ""
    &:hover
        cursor pointer
*:focus 
    outline: none;


.option-folder
    .folder-toggle
        background $header_folder_bgColor
        color $header_folder_fColor
        font-weight bold
        //border 0.1rem solid $header_btn_borderColor
        border-radius 5%
        padding 0.4rem
        margin-left 0.5em
        transition background 0.3s ease, color 0.3s ease
        &:hover
            cursor pointer
            background $header_folder_hi_bgColor
            color $header_folder_hi_fColor
    .dropdown
        position absolute
        display flex
        flex-direction column
        background #222
        overflow hidden
        z-index 2
        button
            transition margin 0.1s ease
            background-color #222
            border none
            margin 0
            &:hover
                background #fff
                color #222
                //border 1px solid #222
        &.hidden
            button
                margin-top -2000px

.tooltip
    position: relative;
    display: inline-block;
    .tooltipText
        visibility: hidden;
        width: 120px;
        background-color: #222;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 2%;
        width: 120px;
        bottom: 150%;
        left: 50%;
        margin-left: -60px;
        position: absolute;
        z-index: 3;
    &:hover
        .tooltipText
            visibility visible

#overlayBtn
    position absolute
    margin-left 49vw
    width 20px
    height 20px

table
    background-color #fff
    width 80%
    margin-top 1rem
    font-size 0.8rem
    table-layout fixed
    th
        background-color #999
        font-weight bold
    .pivot
        font-family "Times New Roman", Georgia, Serif
        font-weight bold
        width 50px
        text-align left
        overflow hidden

table td,
table th
    text-align center
    padding 0.2rem
    white-space nowrap
    overflow hidden
    width 1rem
    color #333






body
    font-size: 20
    .main-wrapper
        max-width 50vw
        height 800px
        margin 10px auto
        display flex
        flex-direction column
        //font-family Tahoma
        .navbar
            display flex
            align-content center
            justify-content start
            z-index 2
            .tabs
                display flex
                height 100%
                align-content center
                align-items center
                justify-content center
                background $nav_bgColor
                color $nav_fColor
                //border-radius 0.2rem
                .tab
                    background-color $nav_bgColor
                    color $nav_fColor
                    padding 0.4rem
                    //margin 0.25rem
                    font-size 1.5rem
                    //font-family Tahoma
                    font-weight bold
                    letter-spacing 2px
                    transition background 0.3s ease, color 0.3s ease
                    //border-radius 2%
                    &:hover
                        cursor pointer
                    &.highlighted
                        background-color $nav_hi_bgColor
                        color $nav_hi_fColor
        .content-wrapper
            //margin 1% 0% 0% 1%
            height 450px
            width 100%
            display flex
            flex-direction column
            background-color $content_bgColor
            

            // Decks Window
            #decksWindow
                .content-header
                    .classOptions
                        justify-content space-between

                .content
                    display grid
                    grid-template-columns 7rem auto
                    grid-auto-flow: column
                    grid-gap 1rem
                    padding 1rem
                    //background-color $content_bgColor
                    .archetypes
                        .title
                            margin-bottom: 1rem
                            margin-top: 1rem
                            font-weight: bold
                            font-size: 1.1rem
                            color white
                        .archBtn
                            font-size: 1rem
                            width 100%
                    .decklists
                        display: none
                        .deckBox
                            .deckTitle
                                color white
                                display inline
                                padding: 0.5rem
                                &:hover
                                    background-color:  white
                                    color black
                            .decklist
                                height 22.1rem
                                margin-top: 1rem
                                margin-bottom: 1rem
                                overflow-y scroll
                                overflow-x hidden
                                background-color: white
                                .card
                                    padding: 0.15rem
                                    margin-top 0.2rem
                            .copyDL
                                color black
                                background-color #92fc64
                                font-size: 1rem
                                font-weight: bold
                                padding 0.3rem
                                margin-top 3rem
                                border 0.1rem solid #92fc64
                                border-radius 3%
                                &:hover
                                    background-color: #b7ff54
                                    border-color: #b7ff54
                                    cursor:  pointer
                    .descriptionBox
                        background-color white
                        height 25rem
                        .description
                            background-color white
                            color black
                            height: 100%
                            padding 1rem
                            letter-spacing: 1.2px;
                            font-size: 0.9rem
                            font-weight: normal
                            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                            text-indent: 20px;
                            overflow-y: auto
                            .text
                                &::first-letter
                                    font-size: 200%
                                    
                            .title
                                font-size: 150%
                                font-weight: bold
                                //font-size: 1.1rem
                                margin-bottom: 1rem
                        .video
                            margin-top: 2rem
                    

            
            
            // Power Window
            #powerWindow
                height: 100%
                #powerGrid
                    max-height 100%
                    display grid
                    grid-template-columns repeat(6, 1fr)
                    grid-template-rows repeat(21, 1fr)
                    grid-gap 0.1rem
                    overflow-y scroll
                    text-align center
                    text-size 10
                    padding: 2rem 2rem 0 2rem
                    //background-color #555
                    .pivot
                        background-color grey 
                        padding 0.2rem
                        margin-right: 0.5rem
                    .header
                        background-color white 
                        color #222
                        padding 0.2rem
                        margin-bottom: 0.4rem
                        font-weight: bold
                    
                    .archBtn
                        padding 0.2rem
                        margin 0.2rem
                        &:hover
                            cursor pointer
                    .winrate
                        color #c4c4c4
                        font-weight: normal
                        padding: 0.2rem
                    .columnTitle
                        grid-column-end: span 2; 
                        

            // Infowindow
            #infoWindow
                color white
                p
                    margin 3rem
                img
                    width 9rem
                    height 9rem
                    display block
                    margin 0 auto

            // Ladder Window
            #ladderWindow
                .content-footer
                    .ladder-legend
                        &:hover
                            cursor pointer


            // TabWindow
            #tableWindow
                .content-header
                    .graphOptions
                        #matchup
                            display: none
                        margin-right: 2rem
            .content
                background-color $content_bgColor
                display flex
                flex-direction column
                //height 100%
                .chart
                    background-color $chart_bgColor
                    margin 20px
            .content-footer
                background-color $footer_bgColor
                color $footer_fColor
                display flex
                flex-direction row
                justify-content space-between
                //font-family Tahoma
                font-weight bold
                div
                    margin-top 0.6em
                    margin-bottom 0.6em
                //     margin-left 1.5em
                //     margin-right 1.5em
                    
            .content-header
                width 100%
                height 1.78rem
                //margin-top 0.6rem
                //margin-bottom 0.6rem
                padding 0.6rem 0 0.6rem 0
                font-size 1em
                background-color $header_bgColor
                color $header_fColor
                display flex
                flex-direction row
                justify-content space-between
                font-family Tahoma
                font-weight bold
                .optionBar
                    display flex
                    flex-direction row
                    margin-right 1em
                    p
                        font-size 0.8em
                        color $header_fColor
                        margin-left 1em
                        margin-top 1em
                .optionBtn
                    background $header_btn_bgColor
                    color $header_btn_fColor
                    font-size 1em
                    font-weight bold
                    border 0.1rem solid $header_btn_borderColor
                    font-size 0.8em
                    border-radius 5%
                    padding 0.4rem
                    transition background 0.3s ease, color 0.3s ease
                    margin-left 1em
                    &:hover
                        background $header_btn_hi_bgColor
                        color $header_btn_hi_fColor
                        border 0.1rem solid $header_btn_hi_borderColor
                .optionBtn.highlighted
                    background $header_btn_hi_bgColor
                    color $header_btn_hi_fColor
                    border 0.1rem solid $header_btn_hi_borderColor
                .option-folder
                    .folder-toggle
                        background $header_folder_bgColor
                        color $header_folder_fColor
                        font-weight bold
                        border 0.1rem solid $header_folder_bgColor
                        border-radius 5%
                        padding 0.4rem
                        margin-left 0.5em
                        transition background 0.3s ease, color 0.3s ease
                        &:hover
                            cursor pointer
                            background $header_folder_hi_bgColor
                            color $header_folder_hi_fColor
                    .dropdown
                        position absolute
                        display flex
                        flex-direction column
                        background #222
                        overflow hidden
                        z-index 2
                        button
                            transition margin 0.1s ease
                            background-color #222
                            border none
                            margin 0
                            &:hover
                                background #fff
                                color #222
                                border 1px solid #222
                        &.hidden
                            button
                                margin-top -2000px
    #tooltips
        margin-left 1em
        height 2.5em
        width 2.5em

#overlay
    position fixed
    display none
    width 50vw
    height 600px
    margin 10px auto
    top 0
    left 0
    right 0
    bottom 0
    background-color rgba(0,0,0,0.5)
    z-index 10
    cursor pointer

#loader
    border-radius 50%
    width 5em
    height 5em
    border 0.5rem solid #666
    border-top-color #fff
    animation spin 0.5s infinite linear
    position fixed
    display none
    margin-left 350px
    margin-top 200px
    z-index 2
    @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
          }

