button {
	border: 0;
	background: #222;
	color: #fff;
}

button:before {
	content: "";
}

table {
	background-color: #fff;
	width: 80%;
	margin-top: 1rem;
	font-size: 0.8rem;
	table-layout: fixed;
}

table th {
	background-color: #999;
	font-weight: bold;
}

table .pivot {
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: bold;
	width: 50px;
	text-align: left;
	overflow: hidden;
}

table td,
table th {
	text-align: center;
	padding: 0.2rem;
	white-space: nowrap;
	overflow: hidden;
	width: 1rem;
	color: #333;
}

body .main-wrapper {
	max-width: 800px;
	height: 800px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	font-family: Tahoma;
}

body .main-wrapper .navbar {
	display: flex;
	align-content: center;
	justify-content: start;
	z-index: 2;
}

body .main-wrapper .navbar .tabs {
	display: flex;
	height: 100%;
	align-content: center;
	align-items: center;
	justify-content: center;
	background: #222;
	border-radius: 0.2rem;
}

body .main-wrapper .navbar .tabs .tab {
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	margin: 0.25rem;
	font-size: 1.5rem;
	font-family: Tahoma;
	font-weight: bold;
	letter-spacing: 2px;
	transition: background 0.3s ease, color 0.3s ease;
	border-radius: 2%;
}

body .main-wrapper .navbar .tabs .tab:hover {
	cursor: pointer;
}

body .main-wrapper .navbar .tabs .tab.highlighted {
	background: #fff;
	color: #222;
}

body .main-wrapper .content-wrapper {
	margin: 1% 0% 0% 1%;
	height: 450px;
	display: flex;
	flex-direction: column;
	background-color: #222;
}

body .main-wrapper .content-wrapper #decksWindow .content {
	display: grid;
	grid-template-columns: 10rem 10rem auto;
	grid-auto-flow: column;
	grid-gap: 1rem;
	padding: 1rem;
	background-color: #444;
}

body .main-wrapper .content-wrapper #decksWindow .content .explanation {
	color: #fff;
}

body .main-wrapper .content-wrapper #decksWindow .content .copy {
	color: #000;
	background-color: #92fc64;
	padding: 0.1rem;
	margin-top: 1rem;
}

body .main-wrapper .content-wrapper #powerWindow #powerGrid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(21, 1fr);
	grid-gap: 0.1rem;
	overflow-y: scroll;
	text-align: center;
	text-size: 10;
	padding: 2rem;
	background-color: #555;
}

body .main-wrapper .content-wrapper .content {
	background-color: #222;
	display: flex;
	flex-direction: column;
	height: 450px;
}

body .main-wrapper .content-wrapper .content-footer {
	background-color: #222;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: Tahoma;
	font-weight: bold;
}

body .main-wrapper .content-wrapper .content-footer div {
	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

body .main-wrapper .content-wrapper .content-header {
	width: 100%;
	height: 5%;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	font-size: 1em;
	background-color: #222;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: Tahoma;
	font-weight: bold;
}

body .main-wrapper .content-wrapper .content-header .optionBar {
	display: flex;
	flex-direction: row;
	margin-right: 1em;
}

body .main-wrapper .content-wrapper .content-header .optionBar .nrGames {
	font-size: 0.8em;
	color: #888;
	margin-left: 1em;
	margin-top: 1em;
}

body .main-wrapper .content-wrapper .content-header .optionBtn {
	background: #222;
	color: #dbdbdb;
	font-size: 1em;
	font-weight: bold;
	border: 0.1rem solid #dbdbdb;
	font-size: 0.8em;
	border-radius: 5%;
	padding: 0.4rem;
	transition: background 0.3s ease, color 0.3s ease;
	margin-left: 1em;
}

body .main-wrapper .content-wrapper .content-header .optionBtn:hover {
	background: #fff;
	color: #222;
}

body .main-wrapper .content-wrapper .content-header .optionBtn .highlighted {
	background: #fff;
	color: #222;
}

body .main-wrapper .content-wrapper .content-header .option-folder .folder-toggle {
	background: #fff;
	color: #666;
	font-weight: bold;
	border: 0.1rem solid #fff;
	border-radius: 5%;
	padding: 0.4rem;
	margin-left: 0.5em;
	transition: background 0.3s ease, color 0.3s ease;
}

body .main-wrapper .content-wrapper .content-header .option-folder .folder-toggle:hover {
	cursor: pointer;
	background: #222;
	color: #fff;
}

body .main-wrapper .content-wrapper .content-header .option-folder .dropdown {
	position: absolute;
	display: flex;
	flex-direction: column;
	background: #222;
	overflow: hidden;
	z-index: 2;
}

body .main-wrapper .content-wrapper .content-header .option-folder .dropdown button {
	transition: margin 0.1s ease;
	background-color: #444;
	border: none;
	margin: 0;
}

body .main-wrapper .content-wrapper .content-header .option-folder .dropdown button:hover {
	background: #fff;
	color: #222;
	border: 1px solid #222;
}

body .main-wrapper .content-wrapper .content-header .option-folder .dropdown.hidden button {
	margin-top: -2000px;
}

body #tooltips {
	margin-left: 1em;
	height: 2.5em;
	width: 2.5em;
}

#overlay {
	position: fixed;
	display: none;
	width: 800px;
	height: 650px;
	margin: 10px auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
	cursor: pointer;
}

#loader {
	border-radius: 50%;
	width: 5em;
	height: 5em;
	border: 0.5rem solid #666;
	border-top-color: #fff;
	animation: spin 0.5s infinite linear;
	position: fixed;
	display: none;
	margin-left: 350px;
	margin-top: 200px;
	z-index: 2;
}
