
// // Set 1
// $lightColor = #e8fcfc
// $midColor = #759cce
// $darkColor = #1f3044
// $accentColor = #9bf7ff
// $chartColors = #e8fcfc

// // Set 2 // Icy Blues

// $lightColor = #daecf3
// $midColor = #fe7b60
// $darkColor = #012d41
// $accentColor = #ff404e
// $chartColors = #daecf3


// Set 3 // Black Orange

// $midColor = #e6462e
// $midColor2 = #ea5d44
// $midColor3 = #ee755a
// $midColor4 = #f18b70
// $darkColor = #454c57
// $accentColor = #ff9326
// $chartColors = #ebebeb
// $lightColor = $chartColors


// Set 3 // Sand

/*$midColor = #aca78a
$darkColor = #454c57
$accentColor = #c7de7b
$chartColors = white// #fffeea //#f9f2c8
$lightColor = #ebebeb*/


// Set 4 sky
$midColor = #1e6b97
$midColor2 = #398ab9
$midColor3 = #599fb5
$midColor4 = #7fb0b4
$darkColor = #454c57
$accentColor = #c7e077
$chartColors = #ebebeb
$lightColor = $chartColors

$nav_bgColor = $midColor
$nav_fColor = $lightColor
$nav_hi_bgColor = $darkColor
$nav_hi_fColor = $lightColor

$header_bgColor = $darkColor
$header_fColor = $lightColor

$header_btn_bgColor = $darkColor
$header_btn_fColor = $lightColor
$header_btn_borderColor = $lightColor
$header_btn_hi_bgColor = $accentColor
$header_btn_hi_fColor = $darkColor
$header_btn_hi_borderColor = $accentColor

$header_hi_bgColor = $accentColor
$header_hi_fColor = $darkColor
$header_btn_borderColor = $lightColor
$header_folder_bgColor = $lightColor
$header_folder_fColor = $darkColor
$header_folder_hi_bgColor = $darkColor
$header_folder_hi_fColor = $lightColor

$content_bgColor = $chartColors
$content_fColor = green

$chart_bgColor = $chartColors

$footer_bgColor = $darkColor
$footer_fColor = $lightColor


$contentHeight = 70vh //600px
$contentWidth = 1000px
$footerHeight = 30px


html
    //font-size: 1em !important;
    //color: #000 !important;
    font-family: Arial, Helvetica, sans-serif !important

button
    border 0
    &:before
        content ""
    &:hover
        cursor pointer
*:focus 
    outline: none;


.option-folder
    .folder-toggle
        background $header_folder_bgColor
        color $header_folder_fColor
        font-weight bold
        border-radius 5%
        padding 0.4rem 0.4rem 0.2rem 0.4rem
        margin-left 0.5em
        transition background 0.3s ease, color 0.3s ease
        &:hover
            cursor pointer
            background $header_folder_hi_bgColor
            color $header_folder_hi_fColor
    .dropdown
        position absolute
        display flex
        flex-direction column
        background #222
        overflow hidden
        z-index 2
        button
            transition margin 0.1s ease
            background-color #222
            border none
            margin 0
            &:hover
                background #fff
                color #222
        &.hidden
            button
                margin-top -2000px

.tooltip
    position: relative;
    display: inline-block;
    .tooltipText
        opacity: 0.8;
        visibility: hidden;
        width: 120px;
        background-color: #222;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 2%;
        width: 120px;
        bottom: 40px;
        left: 50%;
        margin-left: -60px;
        position: absolute;
        z-index: 3;
    &:hover
        .tooltipText
            visibility visible

#overlayBtn
    position absolute
    margin-left 49vw
    width 20px
    height 20px

#vsLogoDiv
    position absolute
    margin-left 46vw
    height: 40px
    z-index 1
    .logo
        width 40px
        height 40px
    .text
        position absolute
        top 12px
        left 40px
        
        
table
    background-color #fff
    width 80%
    margin-top 1rem
    font-size 0.8rem
    table-layout fixed
    th
        background-color transparent
        font-weight bold
    .pivot
        font-family "Times New Roman", Georgia, Serif
        font-weight bold
        width 50px
        text-align left
        overflow hidden

table td,
table th
    text-align center
    padding 0.2rem
    white-space nowrap
    overflow hidden
    width 1rem
    color #333






body
    font-size: 20
    .main-wrapper
        max-width 50vw
        min-width 510px
        height 800px
        margin 10px auto
        display flex
        flex-direction column
        .navbar
            display flex
            align-content center
            justify-content start
            z-index 2
            .tabs
                display flex
                height 100%
                align-content center
                align-items center
                justify-content center
                background $nav_bgColor
                color $nav_fColor
                .tab
                    background-color $nav_bgColor
                    color $nav_fColor
                    padding 0.4rem
                    font-size 1.5rem
                    font-weight bold
                    letter-spacing 2px
                    transition background 0.3s ease, color 0.3s ease
                    &#power
                        background-color: $midColor2
                    &#table
                        background-color: $midColor3
                    &#decks
                        background-color: $midColor4
                    &:hover
                        cursor pointer
                    &.highlighted
                        background-color $nav_hi_bgColor
                        color $nav_hi_fColor

        .content-wrapper
            height 450px
            width 100%
            display flex
            flex-direction column
            background-color $content_bgColor
            
            
            // Decks Window
            #decksWindow
                .content-header
                    .classOptions
                        justify-content space-between

                .content
                    display grid
                    grid-template-columns 7rem auto
                    grid-auto-flow: column
                    overflow-x: auto
                    overflow-y hidden
                    grid-gap 1rem
                    .archetypes
                        margin-left 0.5rem
                        margin-top 1rem
                        .title
                            margin-bottom: 1rem
                            margin-top: 1rem
                            font-weight: bold
                            font-size: 1.1rem
                            color $darkColor
                        .archBtn
                            font-size: 1rem
                            width 100%
                            &.highlighted
                                font-weight bold
                                margin-left 0.5rem
                    .decklists
                        display: none
                        margin-top 2.5rem
                        .deckBox
                            .deckTitle
                                display inline-block
                                background-color $midColor
                                width 100%
                                //height 50px
                                p
                                    padding 0.3rem
                                    color $darkColor
                                    display inline-block
                                    
                                &:hover
                                    background-color:  $accentColor
                                    color $darkColor
                            .decklist
                                height 50%
                                margin-top: 1rem
                                margin-bottom: 1rem
                                overflow-y auto
                                overflow-x hidden
                                background-color: white
                                .card
                                    padding: 0.15rem
                                    //margin-top 0.2rem
                            .copyDL
                                color black
                                background-color #92fc64
                                font-size: 1rem
                                font-weight: bold
                                padding 0.3rem
                                margin 0 auto
                                border 0.1rem solid #92fc64
                                border-radius 3%
                                &:hover
                                    background-color: #b7ff54
                                    border-color: #b7ff54
                                    cursor:  pointer
                    .descriptionBox
                        height 25rem
                        padding 1rem
                        overflow-y: auto
                        .description
                            background-color white
                            color black
                            height: 100%
                            padding 1rem
                            letter-spacing: 1.2px;
                            font-size: 0.9rem
                            font-weight: normal
                            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                            text-indent: 20px; 
                            .text
                                &::first-letter
                                    font-size: 200%  
                            .title                          
                                font-size: 150%
                                font-weight: bold
                                margin-bottom: 1rem
                    

            
            
            // Power Window
            #powerWindow
                height: 100%
                #powerGrid
                    max-height 100%
                    display grid
                    grid-template-columns repeat(6, 1fr)
                    grid-template-rows repeat(21, 1fr)
                    grid-gap 0.1rem
                    overflow-y scroll
                    text-align center
                    text-size 10
                    padding: 2rem 2rem 0 2rem
                    //background-color #555
                    .pivot
                        background-color transparent
                        color $darkColor
                        padding 0.2rem
                        margin-right: 0.5rem
                    .header
                        background-color transparent 
                        color $darkColor
                        padding 0.2rem
                        margin-bottom: 1rem
                        font-weight: bold
                    
                    .archBtn
                        padding 0.2rem
                        margin 0.2rem
                        &:hover
                            cursor pointer
                    .winrate
                        color #999
                        font-weight: normal
                        padding: 0.2rem
                    .columnTitle
                        grid-column-end: span 2; 
                        

            // Infowindow
            #infoWindow
                color $darkColor
                p
                    margin 3rem
                a
                    display block
                    margin 0 auto
                    img
                        width 9rem
                        height 9rem
                .login
                    width 60%
                    margin 0 auto
                    margin-top 3rem
                    button
                        display inline-block
                        &.hidden
                            display none
                    #errorMsg
                        color red

            // Ladder Window
            #ladderWindow
                .chart-footer
                    background-color: transparent
                    color black //$chartColors
                    margin 0 50px 0 50px
                    height 5%
                    .ladder-legend
                        margin-bottom 0.5rem
                        font-size: 0.8rem
                        font-weight bold
                        padding 0.15rem
                        color $lightColor
                        &:hover
                            cursor pointer
                


            // TabWindow
            #tableWindow
                .content-header
                    .graphOptions
                        #matchup
                            display: none
                        margin-right: 2rem
                .chart
                    height 87%
                .chart-footer
                    height 5%
                    flex-direction row-reverse
                    z-index 50
                    button
                        color black
                        font-size: 0.7rem
                        font-weight: bold
                        padding 0.3rem
                        margin 0 auto
                        border 0.1rem solid #92fc64
                        border-radius 3%
                        &:hover
                            cursor:  pointer
                    .copyTable
                        background-color #92fc64
                        &:hover
                            background-color: #b7ff54
                            border-color: #b7ff54
                    .downloadTable
                        border 0.1rem solid rgb(87, 161, 193)
                        background-color rgb(87, 161, 193)
                        color $lightColor
                        &:hover
                            background-color: rgb(100, 170, 200)
                            border-color: rgb(100, 170, 200)
            .content
                background-color $content_bgColor
                display flex
                flex-direction column

                height $contentHeight
                max-height: 700pxg
                .graphTitle
                    margin 1rem auto 0 auto
                    position absolute
                    font-size: 140%
                    font-weight: bold
                    color $darkColor
                .graphLabel
                    position absolute
                    top 10rem
                    color $darkColor
                .chart
                    height 100%
                    background-color $chart_bgColor
                    margin 20px
                .chart-footer
                    display flex
                    flex-direction row
                    justify-content space-between
            .content-footer
                background-color $footer_bgColor
                color $footer_fColor
                height $footerHeight
                display flex
                flex-direction row
                justify-content space-between
                
                font-weight bold
                div
                    margin-top 0.3em
                    margin-bottom 0.3em
                
                    
            .content-header
                width 100%
                height 1.78rem
                z-index 30
                padding 0.6rem 0 0.6rem 0
                font-size 1em
                background-color $header_bgColor
                color $header_fColor
                display flex
                flex-direction row
                justify-content space-between
                font-family Tahoma
                font-weight bold
                .optionBar
                    display flex
                    flex-direction row
                    margin-right 1em
                    p
                        font-size 0.8em
                        color $header_fColor
                        margin-left 1em
                        margin-top 1em
                .optionBtn
                    background $header_btn_bgColor
                    color $header_btn_fColor
                    font-size 1em
                    //font-weight bold
                    border 0.1rem solid $header_btn_borderColor
                    font-size 0.8em
                    border-radius 5%
                    padding 0.4rem
                    transition background 0.3s ease, color 0.3s ease
                    margin-left 1em
                    &:hover
                        background $header_btn_hi_bgColor
                        color $header_btn_hi_fColor
                        border 0.1rem solid $header_btn_hi_borderColor
                .optionBtn.highlighted
                    background $header_btn_hi_bgColor
                    color $header_btn_hi_fColor
                    border 0.1rem solid $header_btn_hi_borderColor
                .option-folder
                    .folder-toggle
                        background $header_folder_bgColor
                        color $header_folder_fColor
                        font-weight bold
                        border 0.1rem solid $header_folder_bgColor
                        border-radius 5%
                        padding 0.4rem 0.4rem 0.2rem 0.4rem
                        margin-left 0.5em
                        transition background 0.3s ease, color 0.3s ease
                        &:hover
                            cursor pointer
                            background $header_folder_hi_bgColor
                            color $header_folder_hi_fColor
                    .dropdown
                        position absolute
                        display flex
                        flex-direction column
                        background #222
                        overflow hidden
                        z-index 2
                        button
                            transition margin 0.1s ease
                            background-color #222
                            border none
                            margin 0
                            &:hover
                                background #fff
                                color #222
                                border 1px solid #222
                        &.hidden
                            button
                                margin-top -2000px
    
    

#overlay
    position fixed
    display none
    width 50vw
    height 600px
    margin 10px auto
    top 0
    left 0
    right 0
    bottom 0
    background-color rgba(0,0,0,0.5)
    z-index 10
    cursor pointer

#loader
    border-radius 50%
    width 5em
    height 5em
    border 0.5rem solid #666
    border-top-color #fff
    animation spin 0.5s infinite linear
    position fixed
    display none
    margin-left 350px
    margin-top 200px
    z-index 2
    @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
          }

// @media (max-width: 2000px)
//     html
//         background: blue


// @media (max-width: 1000px)
//     html
//         background: green
