
// // Set 1
// $lightColor = #e8fcfc
// $midColor = #759cce
// $darkColor = #1f3044
// $accentColor = #9bf7ff
// $chartColors = #e8fcfc

// // Set 2 // Icy Blues

// $lightColor = #daecf3
// $midColor = #fe7b60
// $darkColor = #012d41
// $accentColor = #ff404e
// $chartColors = #daecf3


// // Set 3 // Black Orange

// $midColor = #e6462e
// $midColor2 = #ea5d44
// $midColor3 = #ee755a
// $midColor4 = #f18b70
// $darkColor = #454c57
// $accentColor = #ff9326
// $chartColors = #ebebeb
// $lightColor = $chartColors


// Set 3 // Sand

/*$midColor = #aca78a
$darkColor = #454c57
$accentColor = #c7de7b
$chartColors = white// #fffeea //#f9f2c8
$lightColor = #ebebeb*/


// Set 4 sky
$midColor = #1e6b97
$midColor2 = #398ab9
$midColor3 = #599fb5
$midColor4 = #7fb0b4
$darkColor = #454c57
$accentColor = #c7e077
$chartColors = #ebebeb
$lightColor = $chartColors

// // Set 5 gold

// $midColor = #ff8f00
// $midColor2 = #fbc02d
// $midColor3 = #fdd835
// $midColor4 = #ffee58
// $darkColor = #454c57
// $accentColor = #ff9100
// $chartColors = #ebebeb
// $lightColor = $chartColors





$nav_bgColor = $midColor
$nav_fColor = $lightColor //#6e747d //$darkColor
$nav_hi_bgColor = $darkColor
$nav_hi_fColor = $lightColor

$header_bgColor = $darkColor
$header_fColor = $lightColor

$header_btn_bgColor = $darkColor
$header_btn_fColor = $lightColor
$header_btn_borderColor = $lightColor
$header_btn_hi_bgColor = $accentColor
$header_btn_hi_fColor = $darkColor
$header_btn_hi_borderColor = $accentColor

$header_hi_bgColor = $accentColor
$header_hi_fColor = $darkColor
$header_btn_borderColor = $lightColor
$header_folder_bgColor = $lightColor
$header_folder_fColor = $darkColor
$header_folder_hi_bgColor = $darkColor
$header_folder_hi_fColor = $lightColor

$content_bgColor = $chartColors
$content_fColor = green

$chart_bgColor = $chartColors

$footer_bgColor = $darkColor
$footer_fColor = $lightColor