button
    border 0
    &:before
        content ""
    &:hover
        cursor pointer
*:focus 
    outline: none;

.option-folder
    .folder-toggle
        background $header_folder_bgColor
        color $header_folder_fColor
        font-weight bold
        border-radius 5%
        padding 0.4rem 0.4rem 0.2rem 0.4rem
        margin-left 0.5em
        transition background 0.3s ease, color 0.3s ease
        &:hover
            cursor pointer
            background $header_folder_hi_bgColor
            color $header_folder_hi_fColor
    .dropdown
        position absolute
        display flex
        flex-direction column
        background #222
        overflow hidden
        z-index 2
        button
            transition margin 0.1s ease
            background-color #222
            border none
            margin 0
            &:hover
                background #fff
                color #222
        &.hidden
            button
                margin-top -2000px

.tooltip
    position: relative;
    display: inline-block;
    .tooltipText
        visibility: hidden;
        width: 120px;
        background-color: #222;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 2%;
        width: 120px;
        bottom: 150%;
        left: 50%;
        margin-left: -60px;
        position: absolute;
        z-index: 3;
    &:hover
        .tooltipText
            visibility visible

#vsLogoDiv
    position absolute
    margin-left 46vw
    height: 40px
    z-index 1
    .logo
        width 40px
        height 40px
    .text
        position absolute
        top 12px
        left 40px


#overlay
    position fixed
    display none
    width 50vw
    height 600px
    margin 10px auto
    top 0
    left 0
    right 0
    bottom 0
    background-color rgba(0,0,0,0.5)
    z-index 10
    cursor pointer

#loader
    border-radius 50%
    width 5em
    height 5em
    border 0.5rem solid #666
    border-top-color #fff
    animation spin 0.5s infinite linear
    position fixed
    display none
    margin-left 350px
    margin-top 200px
    z-index 2
    @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
          }