




#decksWindow
    .overlay
        img 
            margin-left 20%
    .content-header
        .ftrOptions
            position absolute
            left 0
        .displayOptions
            position absolute
            right 0
    .content
        display grid
        grid-template-columns 10rem auto 10rem
        grid-auto-flow: column
        overflow-x: auto
        overflow-y hidden
        grid-gap 2rem
        .sidebarWrapper
            width 100%
        .sidebar
            margin-left 0.5rem
            margin-top 2rem
            width 100%
            .title
                margin-bottom: 1rem
                margin-top: 1rem
                font-weight: bold
                font-size: 1.1rem
                color $darkColor
            .archBtnList
                width 100%
                .archBtnWrapper
                    width 100%
                    margin-top 1rem
                    position relative
                    border-radius 0.2rem
                    font-size 80%
                    .archBtn
                        display inline-block
                        padding 0.1rem 0.2rem
                        width 60%
                        border solid #ffffff42
                        border-radius 0.2rem
                        &:hover
                            cursor pointer
                            color $darkColor !important
                            background-color $accentColor !important
                    .wrDiv
                        font-weight bold
                        color #5a5959
                        padding-top 0.25rem
                        padding-right 0.3rem
                        display inline-block
                        float right
                        width 25%
                    &.highlighted
                        background-color $darkColor
                        .archBtn
                            padding-top 0.5rem
                            padding-bottom 0.5rem
                        .wrDiv
                            color $lightColor
                            padding-top 0.65rem
                            padding-bottom 0.5rem
            &.left
                left 0
            &.right
                right 0
        .chart
            display none
            width 100%
            height 100%
        
        .descriptionBox
            height $cont-height - 1rem
            padding 1rem
            overflow-y: auto
            .description
                background-color white
                color black
                padding 2rem
                letter-spacing: 1.2px;
                font-size: 0.9rem
                font-weight: normal
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-indent: 20px; 
                .text
                    background-color white
                    &::first-letter
                        font-size: 200%  
                .title                          
                    font-size: 150%
                    font-weight: bold
                    margin-bottom: 1rem
        

            
            