




#decksWindow
    .overlay
        img 
            margin-left 20%
    .content-header
        .ftrOptions
            position absolute
            left 0
            #classFolder
                visibility hidden
        .displayOptions
            position absolute
            right 0
    .content
        display flex
        flex-flow row
        justify-content space-between
        .content-left
            width 10rem
            .selectionWrapper
                width 10rem
                height 12rem
                margin-top 1rem
                .buttonWrapper
                    position absolute
                    width 12rem
                    margin-left 0.5rem
                    margin-top 1.1rem
                    line-height 2rem
                    .selectionBtn
                        font-size 1rem
                        display inline-block
                        background-color $accentColor
                        padding 0.2rem
                        margin-left 0.2rem
                        border-radius 0.2rem
                        line-height normal
                        opacity 0.4
                        &.special
                            font-size 1.3rem
                            margin-left 0.4rem
                        &:hover
                            background-color $darkColor !important
                            color $accentColor !important
                            cursor pointer
                        &:active
                            background-color yellow !important
                        &.highlighted
                            opacity 1
                            font-size 1.3rem
                        
                &:hover
                    .selectionImg
                        opacity 0.1
                    .selectionTitle
                        color black
                        
        .content-right
            width 10rem
        // .sidebar in 03_components                  
        .content-middle
            //.decklists has own .styl file
            margin-left 1.5rem
            overflow-x auto
            margin-right 1rem
            width 70%
            height 100%
            //margin auto
            .chart
                display none
                width 100%
                height $chart-height -3rem //100%
                margin-top 2rem
                margin-bottom 1rem
            
            .descriptionBox
                height $cont-height - 1rem
                padding 1rem
                overflow-y: auto
                .description
                    background-color white
                    color black
                    padding 2rem
                    letter-spacing: 1.2px;
                    font-size: 0.9rem
                    font-weight: normal
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    text-indent: 20px; 
                    .text
                        background-color white
                        &::first-letter
                            font-size: 200%  
                    .title                          
                        font-size: 150%
                        font-weight: bold
                        margin-bottom: 1rem
            


// @media (max-width: 756px)
//     .content
//         .content-middle
//             overflow-x visible
            