




body
    font-size: 20
    .main-wrapper
        max-width 80vw
        min-width 510px
        height 800px
        margin 10px auto
        display flex
        flex-direction column
        .content-wrapper
            width 100%
            display flex
            flex-direction column
            background-color $content_bgColor

