

$main-height = 40rem
$nav-height = 2.6rem
$cont-wrapper-height = $main-height - $nav-height
$cont-header-height = 1.7rem
$cont-header-pad = 0.6rem
$cont-header-height-tot = $cont-header-height + 2* $cont-header-pad
$cont-footer-height = 0.5rem
$cont-height = $cont-wrapper-height - $cont-header-height-tot  - $cont-footer-height
$chart-height = $cont-height - 4.5rem

body
    font-size: 20
    margin 0 !important
    //background-color #869090;

    .main-wrapper
        max-width 80vw
        min-width 510px
        height $main-height
        margin 1rem auto
        display flex
        flex-direction column
        position relative
        #overlay
            width 78vw
            height $main-height*0.95
            margin 10px auto
            top 0.5rem
            z-index 50
        .navbar
            height: $nav-height
            z-index 0
        .content-wrapper
            width 100%
            height $cont-wrapper-height
            display flex
            flex-direction column
            z-index 0
            position relative
            #loader
                z-index 100
            .tabWindow
                display none
                height 100%
                width 100%
                .overlay
                    height $cont-height
                    width 80vw //100%
                    z-index 20
                .content-header
                    position relative
                    width 100%
                    height $cont-header-height
                    padding $cont-header-pad 0 $cont-header-pad 0
                    z-index 30
                    .dropdown
                        z-index 30
                    .shadow // new style
                        width 99%
                        left 0.5%
                        background-color #00000026 
                        height 4px //0.3rem
                        bottom -4px //-0.3rem
                        position absolute 
                .content
                    z-index 10
                    position relative
                    height $cont-height
                    width 99% // new style
                    left 0.5% // new style
                    .chart-header
                        height 1.5rem
                        margin-top 1rem
                        margin-bottom: 0.5rem
                    .question
                        z-index: 11
                    .graphLabel
                        position absolute
                        bottom 2.6rem
                        left 0.5rem;
                        z-index: 11
                    .chart
                        height $chart-height
                    .chart-footer
                        position relative
                        height 3rem
                .content-footer
                    height $cont-footer-height
                    padding 0.05rem
                    

