



  // Infowindow
#infoWindow
    color $darkColor
    p
        margin 2rem
    a
        display block
        margin 0 auto
        img
            width 9rem
            height 9rem
    .login
        width 60%
        margin 0 auto
        margin-top 3rem
        button
            display inline-block
            &.hidden
                display none
        #errorMsg
            color red