



  // Infowindow
#infoWindow
    color $darkColor
    .infoText
        margin 2rem
        .googleFormsLogo
            display inline-block
            height 3rem
        a
            display inline-block
            margin 0 auto
            img
                height 9rem
                display: block
    .login
        display none
        width 60%
        margin 0 auto
        margin-top 3rem
        button
            display inline-block
            &.hidden
                display none
        #errorMsg
            color red