





#tableWindow
    .content-header
        .graphOptions
            #matchup
                display: none
            margin-right: 2rem
    .chart
        height 87%
    .chart-footer
        height 5%
        flex-direction row-reverse
        z-index 50
        button
            color black
            font-size: 0.7rem
            font-weight: bold
            padding 0.3rem
            margin 0 auto
            border 0.1rem solid #92fc64
            border-radius 3%
            &:hover
                cursor:  pointer
        .copyTable
            background-color #92fc64
            &:hover
                background-color: #b7ff54
                border-color: #b7ff54
        .downloadTable
            border 0.1rem solid rgb(87, 161, 193)
            background-color rgb(87, 161, 193)
            color $lightColor
            &:hover
                background-color: rgb(100, 170, 200)
                border-color: rgb(100, 170, 200)