





#tableWindow
    .overlay
        .red
            background-color #d65900
            color white
            padding 0 0.2rem 0 0.2rem
        .blue
            background-color: #00a2bc
            color white
            padding 0 0.2rem 0 0.2rem
        img
            width 100%
            max-width: 60rem
    .content-header
        .graphOptions
            #matchup
                display: none
            margin-right: 1rem
            position absolute
            right 0
            height 1.75rem
        .ftrOptions
            position absolute
            left 0
    .chart
        height 94%
    .chart-footer
        height 5%
        justify-content normal
        .chartFooterBtn
            position relative
            margin-left 1rem
            background-color: #57a1c1; 
            color $darkColor
            padding: 0.2rem 0.6rem 0.2rem 0.6rem
            font-size:0.8rem;
            text-align:center;
            right 0
            button
                height 100%
                background-color transparent
                font-weight bold 
            &:hover
                background-color $accentColor