



@media (max-width: 756px)
    body
        margin 0px !important
        .main-wrapper
            max-width: 100vw
            min-width: 100vw
            height: 100vh
            margin: 0
            overflow hidden
            #overlay
                width 100% !important
            #vsLogoDiv
                display: none
            .overlay
                width 100% !important
            #updateTimeDiv
                display none
            .navbar
                height: 8vh !important
                max-width: 100%
                overflow: hidden
                #mobileFolder
                    position absolute
                    display inline
                .mobileTabs
                    display flex
                .tabs
                    display none
                    width 100%
            
                


            .content-wrapper
                #loader
                    display none
                height: 100%
                .tabWindow
                    height: 100%
                .content-header
                    overflow: hidden
                    height: 5vh !important
                    #plotFolder
                        display flex
                        position absolute
                        right 1rem
                        .dropdown
                            top 2rem
                            left 0.3rem
                    .nrGames
                        display none
                .content
                    height: 87vh !important
                    .question
                        right none
                        left 1rem !important
                        
                    .chart-header
                        font-size 90%
                    .chart
                        margin: 0
                    .chart-footer
                        width 100% !important
                        display flex !important
                        margin 0 !important
                        .legend-item
                            height auto !important
                    .content-middle // deckswindow
                        overflow-x visible !important
                        .descriptionBox
                            width 85%
                            position absolute
                            .description
                                width 100%
                        .deckBox
                            overflow-x hidden
                    
                    
                .content-footer
                    display: none
                
                #ladderWindow
                    .graphOptions
                        display none
                    #plotBtn
                        display: inline