



@media (max-width: 756px)
    body
        .main-wrapper
            max-width: 100vw
            min-width: 100vw
            height: 100vh
            margin: 0
            .navbar
                height: 60px
                max-width: 100%
                overflow: hidden
                #mobileFolder
                    position absolute
                    display inline
                .tabs
                    width 100%
            #vsLogoDiv
                display: none
            .content-wrapper
                #loader
                    display none
                height: 100%
                .tabWindow
                    height: 100%
                .content-header
                    overflow: hidden
                    height: 5%
                .content
                    height: 95%
                    .chart
                        margin: 0
                    .chart-footer
                        display: none
                .content-footer
                    display: none
                
                #ladderWindow
                    .graphOptions
                        display none
                    #plotBtn
                        display: inline