



#overlay
    position fixed
    display none
    
    // top 0
    left 0
    right 0
    bottom 0
    background-color rgba(41,45,47,0.92)
    z-index 10
    cursor pointer
    overflow auto
    .overlayText
        color $lightColor
        font-size 1.5rem
        padding 1rem 2.5rem 0 2.5rem 
        font-weight bold
        font-family: 'Garamond'
        letter-spacing 0.8px
        

.overlay
    position fixed
    display none
    
    // top 0
    // left 0
    // right 0
    // bottom 0
    background-color rgba(41,45,47,0.92)
    z-index 10
    cursor pointer
    overflow auto
    margin auto
    