



#overlay
    position fixed
    display none
    
    // top 0
    left 0
    right 0
    bottom 0
    background-color rgba(41,45,47,0.92)
    z-index 10
    cursor pointer
    overflow auto
    .overlayText
        color $lightColor
        font-size 1.5rem
        padding 1rem 2.5rem 0 2.5rem 
        font-weight bold
        font-family: 'Garamond'
        letter-spacing 0.8px
        .highlight
            background-color $lightColor
            color $darkColor
            padding 0 0.3rem
            opacity 0.7
        .redditLogo
            position absolute
            left 35%
            display inline-block
            height 10rem
        button
            color $lightColor
            font-size 2rem
            font-weight bold
            margin-left 4rem
            marign-right 4rem
            &#basicBtn
                background-color $lightColor
                color $darkColor
            &#premiumBtn
                background-color gold
                color $darkColor
            &:hover
                background-color $accentColor !important
                color $darkColor
            &:acive
                background-color white !important
            
            
        

.overlay
    position fixed
    display none
    background-color rgba(41,45,47,0.92)
    z-index 10
    cursor pointer
    overflow auto
    margin auto
    .overlayText
        color white
        margin 2rem
        font-size 110%
        letter-spacing 0.8px
    