

#ladderWindow 
    table
        background-color #fff
        width 80%
        margin-top 1rem
        font-size 0.8rem
        table-layout fixed
        th
            background-color transparent
            font-weight bold
        .pivot
            font-family "Times New Roman", Georgia, Serif
            font-weight bold
            width 50px
            text-align left
            overflow hidden

    table td,
    table th
        text-align center
        padding 0.2rem
        white-space nowrap
        overflow hidden
        width 1rem
        color #333


    .content-header
        #plotBtn
            display: none

    .chart-footer
        background-color: transparent
        //color black 
        margin 0 50px 0 50px
        .legend-item
            margin 0.15rem
            font-size: 0.8rem
            font-weight bold
            padding 0.25rem
            overflow hidden
            max-height: 1.6rem
            &:hover
                cursor pointer
























