



#overlay
    position absolute
    display none
    
    // top 0
    left 0
    right 0
    bottom 0
    background-color rgba(41,45,47,0.92)
    border solid 0.5rem #22222
    z-index 10
    cursor pointer
    overflow auto
    .overlayText
        color $lightColor
        font-size 1.1rem
        padding 1rem 2.5rem 0 2.5rem 
        letter-spacing 0.8px
        line-height 1.5rem
        .discordLogo
            position absolute
            left 20%
            display inline-block
            height 10rem
        .googleFormsLogo
            position inline-block
            height 3rem
            &:hover
                cursor pointer
        .arrow
            height 2rem
            display inline-block
            padding 0 1rem
        button
            color $lightColor
            font-size 2rem
            font-weight bold
            marign-right 4rem
            &#basicBtn
                background-color $lightColor
                color $darkColor
                margin-left 25%
            &#premiumBtn
                background-color gold
                color $darkColor
            &:hover
                background-color $accentColor !important
                color $darkColor
            &:acive
                background-color white !important
            
            
        

.overlay
    position absolute
    display none
    background-color rgba(41,45,47,0.92)
    z-index 10
    cursor pointer
    overflow auto
    line-height 1.5rem
    margin auto
    .overlayText
        color white
        margin 2rem
        font-size 110%
        letter-spacing 0.8px
        .optionBtn
            background $header_btn_bgColor
            color $header_btn_fColor
            font-size 1em
            border 0.1rem solid $header_btn_borderColor
            font-size 0.8em
            border-radius 5%
            padding 0.4rem 0.4rem 0.2rem 0.4rem
            transition background 0.3s ease, color 0.3s ease
            &:hover
                background $header_btn_hi_bgColor
                color $header_btn_hi_fColor
                border 0.1rem solid $header_btn_hi_borderColor
    